{%extends 'base.html'%}

{%block title%}
{%if form%}
Update {{request.user}} Account
{%else%}
{{request.user}} info
{%endif%}
{%endblock%}


{%block content%}
{%if not form%}
<h1>Account Information:</h1>
<a href="{%url 'account:account-update'%}">update</a>
<table>
	<tr>
		<th>first name</th>
		<th>last name</th>
		<th>username</th>
		<th>email</th>
		<th>image</th>
	</tr>

	<tr>
		<td>{{object.first_name}}</td>
		<td>{{object.last_name}}</td>
		<td>{{object.username}}</td>
		<td>{{object.email}}</td>
		{% if object.profile_image%}
		<td><img src="{{object.profile_image.url}}" width='150'></td>
		{%else%}
		no image profile
		{%endif%}


	</tr>

</table>
{%else%}
<h1>Update Account:</h1>
<a href="{%url 'account:account-detail'%}">back</a>
<form method='post' enctype="multipart/form-data">
	{%csrf_token%}
	{{form.as_div}}
	<input type="submit" value='submit' >
	
</form>
{%endif%}
{%endblock%}