{%extends 'base.html'%}
{%load blog_tags %}


{%block title%}
article:{{object.title}}
{%endblock%}


{%block content%}


<!-- article -->

{%if object.image%}
	<img src="{{object.image.url}}">
{%endif%}
<h1>{{object.title}}</h1>
<p>{{object.published}} by {{object.author}}</p>

<p>{{object.content|markdown}}</p>
<hr>


<!-- similar articles -->

<h1>similar articles:</h1>
{%for article in similar_articles%}
<p><a href="{%url 'blog:article-detail' article.slug %}">{{article.title}}</a></p>
{%endfor%}
<hr>

<!-- most comments article -->
<h1>most commented posts:</h1>
{%get_most_commented_posts%}
{%  get_most_commented_posts as top_articles %}
	{%for post in top_articles%}
	<p><a href="{% url 'blog:article-detail' post.slug %}">{{post.title}}</a></p>
	{%endfor%}


<hr>

<!-- comments -->

<h1>comments:{{comments.count}}</h1>
{%for comment in comments%}
	<h2>{{comment.name}}</h2>
	<p>{{comment.body}}</p>
{%empty%}
	there is no comment
{%endfor%}
<hr>


<!-- add comments -->

<h1>Add Comment:</h1>
<form method='post'>
	{%csrf_token%}
	{{form.as_div}}
	<input type="submit" value='comment'>
	
</form>
{%endblock%}