{%extends 'base.html'%}


{%block title%}
article:{{object.title}}
{%endblock%}


{%block content%}
{%if object.image%}
<img src="{{object.image.url}}">
{%endif%}
<h1>{{object.title}}</h1>
<p>{{object.published}} by {{object.author}}</p>
<p>{{object.content}}</p>

<hr>
<h1>comments:</h1>
{%for comment in comments%}
<h2>{{comment.name}}</h2>
<p>{{comment.body}}</p>
{%empty%}
there is no comment
{%endfor%}
<hr>
<h1>Add Comment:</h1>
<form method='post'>
	{%csrf_token%}
	{{form.as_div}}
	<input type="submit" value='comment'>
	
</form>
{%endblock%}