{%extends 'base.html'%}


{%block title%}
{%if tags%}
{{tags}}
{%else%}
Articles
{%endif%}
{%endblock%}


{%block content%}
{%if tags%}
<h1>Tags:{{tags}}</h1>
<hr>
{%endif%}
{%for object in object_list%}
{%if object.image%}
<img src="{{object.image.url}}" width="200">
{%endif%}
<h1><a href="{%url 'blog:article-detail' object.slug %}">{{object.title}}</a></h1>
<p>{{object.published}} by {{object.author}}</p>
<p>tags:
{%for tag in object.tags.all%}
<span>{{tag.name}}{%if forloop.last %}{%else%},{%endif%}</span>
{%empty%}
there is no tags
{%endfor%}
</p>
<p>{{object.content}}</p>
{%endfor%}


<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{%endblock%}